@import '../../scss/base.scss';

.info-icon {
  cursor: pointer;
  z-index: 10;
  font-size: 8vmin;
  color: $color-pink;
  @include absoluteFromRight(0.5vmin, 3vmin);
  @include media('min1200') {
    font-size: 1.6rem;
    @include absoluteFromRight(0.5%, 3%);
  }
}
