@import '../../scss/base.scss';

.game-panel__dices__img {
  margin: 3%;
  width: 44%;
  background-color: $color-blue-light;
  border-radius: 0.85rem;
  &--hidden {
    visibility: hidden;
  }
  &--pig {
    background-color: $color-pink;
  }
  @include media('portrait') {
    height: 44%;
    width: auto;
  }
  @include media('min1200') {
    // height: 94%;
    // width: 25%;
  }
}

