@import '../../scss/base.scss';

.footer {
  background-color: $color-granite-dark;
  height: 4vmin;
  @include flexCenter;
  @include media('min1200') {
    height: 4%;
  }
  &__text {
    padding-right: 0.2rem;
    font-size: 2vmin;
    color: $color-pink;
    @include media('min1200') {
      font-size: 0.6rem;
    }
  }
}
