@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&amp;subset=latin-ext');
@import './scss/base.scss';

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 16px;
  @include media('portrait') {
    font-size: 14px;
  }
  @include media('min600landscape') {
    font-size: 18px;
  }
  @include media('min600portrait') {
    font-size: 26px;
  }
  @include media('min900') {
    font-size: 28px;
  }
}

body {
  height: 100vh;
  @include backgroundNormal;
  @include media('min900') {
    @include backgroundLarge;
  }
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide {
  visibility: hidden;
}
